<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>Gym Manager</title>
    {%endblock%}
    <link rel="stylesheet" href="/styles.css">


</head>

<body>
    <header>

        <div class="links">
            <a href="/" class="active">Instructors</a>
            <a href="/members"> Members</a>
            <a href="/instructors/create" > Create Instructors</a>
        </div>

    </header>


    {% block content %} {%endblock%}

</body>

</html>