{% extends "layout.njk" %}

{% block content %}

<div class="card">  
    <section class="avatar" style="background: url(https://images.pexels.com/photos/733500/pexels-photo-733500.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center / cover "></section>
    <section class="details"> 

        <h3>Details</h3>
        <div class="item">
            <div>Instructor</div>
            <div>Guilherme Saraiva</div>
        </div>
        <div class="item">
            <div>Idade</div>
            <div>29</div>
        </div>
        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>
         <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Musculação</span>
                <span>Cross Fit</span>
                <span> Cardio</span>
            </div>
        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>
        </div>


    </section>
</div>

{% endblock content %}

