{% extends "layout.njk" %}

{% block content %}

{# o post é o metodo de formulario e o action é onde ele ficara, no caso é a pasta de intrutor  #}
<form class="card" method="POST" action="/members">

   <section class="avatar" style="background: url(https://images.pexels.com/photos/733500/pexels-photo-733500.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center / cover "></section>

    <section class="details">
        <h3>New Member</h3>
        {% include 'members/fields.njk'%}

    </section>
</form>

{% endblock content %}
    
