{% extends "layout.njk" %}


{% block content %}
<div class="card table-container">
  <div class="header">
        <a class="button" href="/members/create"> <i class="fas fa-plus"></i> Members</a>
        <form action="/members" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Nome or Email"
                value={{filter}}
            >
           <button type="submit"><i class="fas fa-search"></i>  Find</button>
        </form>
    </div>

    <table> 
        <thead> 
            <tr> 
                <th>Member</th>
                <th>Email</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody> 
            {% for member in members %}
                <tr>
                    <td><span style="background-image: url({{member.avatar_url}})"></span>
                        {{member.name}}</td>   
                    <td>{{member.email}}</td>                           
                    <td>{{member.weight}}kg</td>                           
                    <td>{{member.height}}cm</td>
                           
                    <td> <a href="/members/{{member.id}}"> <i class="far fa-eye"></i></a> </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>

</div>
{% endblock content %}


