{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">  
    <table width="100%">
  <a class="button" href="/members/create">New Members</a>

        <thead>
            <tr>
                <th>Instructor</th>
                <th>Contact</th>
                <th> Action </th>
            </tr>
        </thead>

        <tbody>
            {% for member in members%}
            <tr>                
                <td><span style="background-image: url({{member.avatar_url}})"></span>{{member.name}}</td>
                <td>{{member.email}}</td>
                <td><a href="/members/{{member.id}}"> Acess </a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    

</div>

{% endblock content %}

